.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #300;
}

/* 下３つ要変更 */

/* 次に置ける色に応じて文字もその色に対応させたい
   その話はいったん凍結する */

.background {
  background-color: #ffc;
}

.information {
  display: flex;
  font-family: fantasy;
  font-size: 40px;
  color: var(--main-color); /* css変数を参照 */
}

.displayAmount {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 20px;
}

.blackAmount {
  color: black;
  background-color: white;
}

.whiteAmount {
  color: white;
  background-color: black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.stone {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}
