/* パソコン版は２カラム、スマホ版は１カラムでいく */
@media screen and (width <= 768px) {
  .container {
    display: block;
  }

  .column {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #f5f5dc;
}

.gapSpace {
  width: 640px;
  height: 15px;
}

.turnAndResetButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 640px;
  height: 60px;
}

.displayTurn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  background-color: rgb(38 201 38);
  border: 1px solid #00d500;
  border-radius: 10px;
}

.resetButton {
  width: 300px;
  height: 60px;
  font-size: 23px;
  cursor: pointer;
  background-color: #76ff76;
  border: 1px solid lightgreen;
  border-radius: 10px;
  transition:
    background-color 0.2s,
    transform 0.1s;
}

.resetButton:hover {
  background-color: #009b00;
  transform: scale(0.95);
}

.gameLogBackground {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.gameLogInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 92%;
  aspect-ratio: 10 / 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  background-color: lightgray;
  border-radius: 10px;
}

.stoneInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  height: 58px;
  text-align: center;
  background-color: #98fb98;
  border: 1px solid #006400;
  border-radius: 28px;
}

.displayAmount {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 20px;
}

.stoneAmount {
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: italic;
}

.stoneHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  /* オセロ初期状態64-4 * 二つの石の幅4+4 */
  width: 426px;
  height: 40px;
  border: 4px solid darkgreen;
  border-radius: 4px;
}

.restStone {
  display: flex;
  width: 14px;
  height: 100%;
}

.restBlackStone {
  width: 7px;
  height: 100%;
  background-color: black;
}

.restWhiteStone {
  width: 7px;
  height: 100%;
  background-color: #f8f8ff;
}

.adjustDesign {
  width: 1px;
  height: 40px;

  /* border: 1px solid black; */
}

.board {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid black;
}

.stone {
  width: 56px;
  height: 56px;
  background-color: black;
  border-radius: 50%;
}
